body {
    background-color: darkblue;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
}

h1 {
    font-size: 48px;
    text-align: center;
}


.flexHeading {
    display: flex;
}


.linkedinLogo {
    display: flex;
    margin-left: auto;
}

/* #aboutSection {
    border: 1px solid darkblue;
    margin-left: 20px;
    padding-left: 5px;
} */

.workExperienceSection {
    
}

.listOfSkills {
    list-style-type: square;
    border: 1px solid darkblue;
    padding-top: 5px;
}


@media (max-width: 1000px) {
    h1 {
        font-size: 36px;
    }

    p {
        font-size: 12px;
    }    
    
}