body {
    background-color: darkblue;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    /* position: sticky; */
    top: 0;
    color: yellow;
}

.flexHeading {
    display: flex;
}


.linkedinLogo {
    display: flex;
    margin-left: auto;
}


h1 {
    font-size: 48px;
    text-align: center;
}

.gridForIconsAndCaptions {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: darkblue;
}

.gridForIconsAndCaptions div {
    color: yellow;
    background-color: darkblue;
}


a:link {
    text-decoration: none;
    color: yellow;
}

a:visited {
    text-decoration: none;
    color: yellow;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}


@media (max-width: 1000px) {
    h1 {
        font-size: 36px;
    }

    p {
        font-size: 12px;
    }    
    
}