body {
    background-color: darkblue;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 48px;
}

#aboutMeIcon {
    position: relative;
    left: 450px;
    top: 100px;
}

#aboutMeCaption {
    position: relative;
    left: 330px;
    top: 120px;
    color: yellow;
}

#pencilIcon {
    position: relative;
    left: 550px;
    top: 100px;
}

#myWorkandProjectsCaption {
    position: relative;
    left: 370px;
    top: 121px;
}

#articleIcon {
    position: relative;
    left: 550px;
    top: 95px;
}

#articlesIWrote {
    position: relative;
    left: 400px;
    top: 122.5px;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
