body {
    background-color: darkblue;
    color: yellow;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    top: 0;
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-align: center;
}

.flexHeading {
    display: flex;
}


.linkedinLogo {
    display: flex;
    margin-left: auto;
}

.projectsFlexbox {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    /* flex-direction: column; */
}


ul {
    list-style-type: square;
}

a:link {
    text-decoration: none;
    color: yellow;
}

a:visited {
    text-decoration: none;
    color: yellow;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}